 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="four columns">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <i class="devicon-javascript-plain"></i>
      <p>HTML5,CSS,Bootstrap</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-ruby-plain colored"></i>
      <i class="devicon-rails-plain colored"></i>
      <i class="devicon-python-plain colored"></i>
      <p>Ruby, Python, Rails</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-bitbucket-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <i class="devicon-amazonwebservices-original"></i>
      <i class="devicon-gitlab-plain"></i>
      <i class="devicon-heroku-plain"></i>
      <i class="devicon-ubuntu-plain"></i>
      <p>Git,Bitbucket,Atom,AmamzonWeb Servies,Gitlab,Heroku,Ubuntu</p>
    </div>
</div>
