<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/SWOOPOS.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>  Swoopos  </h3>
    <ul>
      <li> Featured Skills: Ruby on Rails,RDS-Postgres,Redis,AWS,Capistrano </li>
    </ul>
    <p>The SWOOPOS mobile point-of-sale system works intuitively alongside the SWOOPE customer app to enable:
Seamless mobile ordering and payment
Intuitive inventory and staff management
Insightful customer data and analytics
Powerful mobile marketing.</p>
    <a class="project-link" href="https://www.swoopos.com">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/painpool.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> PainPool </h3>
    <ul>
      <li> Featured Skills: Ruby on Rails,RDS-Postgres,AWS,Capistrano</li>
    </ul>
    <p>PainPool is patient and staff management portal where in Hospital Management can manage the staff details and rights, Staff can manage the patient detail. It works in online as well as in offline mode.</p>
    <a class="project-link" href="http://medical_offline_online.mobiloitte.org/">Check it out</a>
  </div>
</div>
